
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/main.css")
        title nodejs 
    body 
        //- div#time
        div#box
            img(src='/image/code.png', width='200px')
            h1.title HELLO :U
            p.desc I'm Gu Ja-hyun, developing a beckend and AI.
            p.desc2 ( 저는 백엔드와 인공지능을 개발하는 구자현입니다. )